<p id="notice"><%= notice %></p>

<h1>Listing Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Gender</th>
      <th>Birthday</th>
      <th>Country</th>
      <th>Description</th>
      <th>Team</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.name %></td>
        <td><%= profile.address %></td>
        <td><%= profile.gender %></td>
        <td><%= profile.birthday %></td>
        <td><%= profile.country %></td>
        <td><%= profile.description %></td>
        <td><%= profile.team_id %></td>
        <td><%= profile.user_id %></td>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
          <% if !Friendship.exists?( profile: @profile, friend: profile) || !Friendship.exists?( profile: profile, friend: @profile) %>
              <%= link_to 'Request Friend', friendships_path(:friend_id => profile), method: :post %>
          <% else %>

          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>
