<p id="notice"><%= notice %></p>


<%if Profile.find(current_user) != @profile %>
    <h1> <%=@profile.name %> Profile </h1>
<% else %>
    <h1> My Profile </h1>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @profile.address %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @profile.birthday %>
</p>

<p>
  <strong>Country:</strong>
  <%= @profile.country %>
</p>

<p>
  <strong>Description:</strong>
  <%= @profile.description %>
</p>

<p>
  <strong>Team:</strong>
  <%= @profile.team_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user_id %>
</p>

<%if Profile.find(current_user) == @profile %>
    <%= link_to 'Edit', edit_profile_path(@profile) %>
<% end %>


<%= link_to 'New Activity', activity_path(@profile.id), method: :post %>

<h2> <%=@profile.name%> Activities </h2>

<ul>
  <% @activities.each do |activity| %>
    <li>
         <strong><%= activity.title %></strong>
          <%= activity.kind %>
          <%= link_to "See", activity, method: :get%>
    </li>
  <% end %>
</ul>



<h2> <%=@profile.name%> Friends </h2>

<ul style="list-style-type: none;">
  <% for friendship in @profile.friendships %>
      <%if friendship.status == "accepted" %>
          <li>
            <%= link_to friendship.friend.name, user_path(friendship.friend.id), method: :get %>
          </li>
      <%end %>
  <% end %>
</ul>