<%= form_for(@activity) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label "Type" %><br>
      <%= f.radio_button(:type, "Running") %>
      <%= label_tag(:type, "Running") %>
      <%= f.radio_button(:type, "Cycling") %>
      <%= label_tag(:type, "Cycling") %>
      <%= f.radio_button(:type, "Swimming") %>
      <%= label_tag(:type, "Swimming") %>
      <%= f.radio_button(:type, "Gymn") %>
      <%= label_tag(:type, "Gymn") %>
    </div>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :startdatetime %><br>
    <%= f.datetime_select :startdatetime %>
  </div>
  <div class="field">
    <%= f.label :latstart %><br>
    <%= f.text_field :latstart %>
  </div>
  <div class="field">
    <%= f.label :longstart %><br>
    <%= f.text_field :longstart %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
