<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @activity.type %>
</p>

<p>
  <strong>Title:</strong>
  <%= @activity.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activity.description %>
</p>

<p>
  <strong>Startdatetime:</strong>
  <%= @activity.startdatetime %>
</p>

<p>
  <strong>Latstart:</strong>
  <%= @activity.latstart %>
</p>

<p>
  <strong>Longstart:</strong>
  <%= @activity.longstart %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @activity.profile_id %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
